<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/mercado.jpg" class="d-block w-100" alt="..."  >
          <div class="carousel-caption d-none d-md-block">
            <h5>Mercado</h5>
            <p>Variedad de productos</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/images/Gestión-Clientes.png" class="d-block w-100" alt="..." >
          <div class="carousel-caption d-none d-md-block">
            <h5>Gestion de Clientes</h5>
            <p>Administración de clientes facilmente</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/images/jefes-mejores.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Gestion de Empleados</h5>
            <p>Administre a todos sus empleados facilmente</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <app-footer></app-footer>
