<div class="card">
        <div class="card-header">
          <a class="btn btn-primary" [routerLink]="['/registrarCliente']">Registrar Nuevo Cliente</a>
          <h2 class="info card text-white bg-danger mb-0 " *ngIf="clientes.length == 0">no hay información</h2>
          <h2 class="info card text-white bg-success mb-0 " *ngIf="clientes.length > 0">Lista de Clientes</h2>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <div *ngIf="clientes.length > 0 ">
              <table class="table table-responsive">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Identificación</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Fecha de Nacimiento</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cliente of clientes">
                    <td>{{cliente.identificacion}}</td>
                    <td>{{cliente.nombre | titlecase}}</td>
                    <td>{{cliente.apellido | uppercase}}</td>
                    <td>{{cliente.telefono | uppercase}}</td>
                    <td>{{cliente.fechaNacimiento}}</td>
                    <td>
                      <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal" (click)= "showPopup(cliente)">Eliminar</button>
                      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalActualizar" (click)="showPopup(cliente)" >Editar</button>
                    </td>
                  </tr>
      
                </tbody>
              </table>
            </div>
      
          </blockquote>
        </div>
      </div>
      
      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Eliminar</h4>
              <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              ¿Está seguro que desea eliminar la información de {{clienteSeleccionado.nombre}} {{clienteSeleccionado.apellido}}?
            
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="delete(clienteSeleccionado)">Aceptar</button>
            </div>
          </div>
        </div>
      </div>
      
            <!-- The Modal -->
          <div class="modal fade" id="modalActualizar">
            <div class="modal-dialog">
              <div class="modal-content">
        
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Editar información correspondiente al cliente con identificacion: {{clienteSeleccionado.identificacion}}</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>
        
              <!-- Modal body -->
            <div class="modal-body">
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="nombreCliente">Nombre</label>
                      <input type="text" [(ngModel)] ="clienteSeleccionado.nombre" class="form-control" id="nombreCliente" placeholder="Nombre">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="apellidoCliente">Apellido</label>
                      <input type="text"  [(ngModel)]="clienteSeleccionado.apellido" class="form-control" id="apellidoCliente" placeholder="apellido">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="telefonoCliente">Telefono</label>
                      <input type="text"  [(ngModel)]="clienteSeleccionado.telefono" class="form-control" id="telefonoCliente" placeholder="clienteSeleccionado.telefono">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="fechaNacimiento">Fecha de Nacimiento</label>
                    <input type="date"  [(ngModel)]="clienteSeleccionado.fechaNacimiento" class="form-control" id="fechaNacimiento">
                  </div>
          </div>
          </div>
      
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="update(clienteSeleccionado)" >Aceptar</button>
              </div>
      
          </div>
        </div>
      </div>
